body {
  width: 100%;
}

.tela-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.caixa-login {
  border-radius: 10px;
  height: 480px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient( rgb(111, 47, 185), rgb(44, 108, 105));
  box-shadow: 5px 10px 8px gray;
}

#sign-in-email,
#sign-in-password {
  width: 200px;
  margin-top: 10px;
}

label {
  margin-top: 20px;
  font-size: 13px;
  color: white;
}

.text-link {
  font-size: 13px;
}

p {
  font-size: 13px;
  color: white;
  margin-top: 10px;
}

#sign-in-email,
#sign-in-password,
#sign-up-email,
#sign-up-password,
#sign-up-name,
#sign-up-phone {
  width: 200px;
  margin-top: 10px;
}

.set-icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.icon:hover {
  cursor: pointer;
}

.icon {
  color: white;
  margin-left: 5px;
  margin-top: 8px;
}

button {
  border-radius: 8px;
  height: 30px;
  background-color: #FF6347;
  color: white;
  margin-bottom: 10px;
  padding: 4px;
  margin-top: 10px;
}

#sign-up-button {
  margin-top: 10px;
}

.logo {
  width: 150px;
  border-radius: 10px;
  box-shadow: 5px 10px 8px gray;
}

.container-post {
  display: flex;
  justify-content: center;
}

.send-post {
  background-color: #FF6347;
  border-radius: 8px;
  padding: 3px;
  color: white;
}

.post-input {
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
  background-color: rgba(127, 255, 212, 0.247);
  border-radius: 8px;
}

.posts-filtro {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 80px;
}

.app {
  height: 100%;
  /* position: fixed;
 z-index: 1; */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 10px;
}

.app a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.app a:hover {
  color: #f1f1f1;
  background-color: #818181;
}

ul {
  list-style-type: none;
}

#logout-button {
  width: 80px;
  border-radius: 4px;
  padding: 4px;
  color: white;
  background-color: #818181;
}

label {
  color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.posts-list {
  padding: 10px;
  margin-bottom: 10px;
}

li {
  padding: 10px;
}

Message Input Message @Veronica Gomes Rocha
